//Fuente
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

$fuentePrincipal: 'Noto serif', serif;

//Colores
$blanco: #ffffff;
$amarillo: #cbe346;
$subTitulo: #1e2335;
$gris: #787878;
$grisClaro: #f3f4f8;




//Tamaños de pantallas 
$telefono: 480px;
$tablet: 860px;
$desktop: 1024px;

//Fuente
$regular: 300;
$bold: 700;