.accesorio {
    height: 39.2rem;
    display: flex;
    background-color: $grisClaro;
    padding: 0;

    .accesorio__left {
        width: 33.4%;

        .accesorio__left__tennis {
            margin-left: 17.7%;
            text-align: end;
            color: $amarillo;
            text-transform: uppercase;
            font-weight: $bold;
            margin-top: 60%;
        }

    }

    .accesorio__right {
        width: 38.6%;
        display: flex;
        flex-direction: column;
        align-items: center;


        h2 {
            align-self: flex-start;
            color: $subTitulo;
            font-size: 3rem;
            border-bottom: 16.9rem;
            text-align: center;
        }

        p {
            color: $gris;

        }

    }

    .accesorio__btn {
        width: 28%;

        .btn {
            @include boton(#282e47, inline-block);
            color: #273048;
            margin-top: 69%;


        }
    }
}

@include telefono {
    .accesorio {
        display: block;

        .accesorio__left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .accesorio__left__tennis {
                font-size: 2.5rem;
                margin: 2rem 0 0 0;
            }

        }

        .accesorio__right {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                align-self: center;
                font-size: 2.5rem;
                border-bottom: 16.9rem;
            }

            p {
                margin: 2rem;
                color: $gris;
                text-align: center;

            }

        }

        .accesorio__btn {
            display: flex;
            justify-content: center;
            width: 100%;

            .btn {
                @include boton(#282e47, inline-block);
                color: #273048;
                margin: 0;
                width: 95%;



            }
        }
    }
}